@font-face {
    font-family: "Muller";
    src: url(../fonts/MullerRegular.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url(../fonts/MullerMedium.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url(../fonts/MullerBold.ttf);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url(../fonts/MullerExtraBold.ttf);
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url(../fonts/MullerBlack.ttf);
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Uni sans";
    src: url(../fonts/UniSans.otf);
    font-weight: 400;
    font-display: swap;
}